<mat-expansion-panel [expanded]="true" id="headlines">
  <mat-expansion-panel-header>
    <b>Headline News</b>
  </mat-expansion-panel-header>

  <p>
    <app-container [newsList]="headlineNews" (refreshNewsList)="reload($event)"></app-container>
  </p>


</mat-expansion-panel>

<p></p>

<mat-expansion-panel [expanded]="true" id="category">
  <mat-expansion-panel-header>
    <b>Category News</b>

  </mat-expansion-panel-header>

  <p>
    <mat-form-field>
      <mat-select (selectionChange)="categoryChange()" [(value)]="selectedCategory" class="category-drop-down"
        placeholder="Category">
        <mat-option value="General">General</mat-option>
        <mat-option value="Technology">Technology</mat-option>
        <mat-option value="Health">Health</mat-option>
        <mat-option value="Entertainment">Entertainment</mat-option>
        <mat-option value="Sports">Sports</mat-option>
        <mat-option value="Business">Business</mat-option>
      </mat-select>
    </mat-form-field>
    <app-container [newsList]="categoryNews" (refreshNewsList)="reload($event)"></app-container>
  </p>


</mat-expansion-panel>